<!DOCTYPE HTML>

<html>
	<head>
		<title>Joshua Biamby's Portfolio Page</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta http-equiv="refresh" content="6; URL=http://127.0.0.1:5000" />
		<link rel="stylesheet" href="./static/assets/css/main.css" />
		<noscript><link rel="stylesheet" href="./static/assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Wrapper-->
			<div id="wrapper">

				<!-- Nav -->
					<nav id="nav">	
					</nav>

				<!-- Main -->
					<div id="main">

						<!-- Contact -->
							<article id="contact" class="panel">
								<header>
								</header>
								<form action="/submit_form" method="post">
									<div>
										<div class="row">
											<div class="col-12 col-12-medium"> Thank you for uploading to the matrix. Your phone should be ringing shortly.
											</div>
										</div>
									</div>
								</form>
							</article>

					</div>

				<!-- Footer -->
					<div id="footer">
						<ul class="copyright">
							<li>&copy; Joshua Biamby</li>
						</ul>
					</div>

			</div>

		<!-- Scripts -->
			<script src="./static/assets/js/jquery.min.js"></script>
			<script src="./static/assets/js/browser.min.js"></script>
			<script src="./static/assets/js/breakpoints.min.js"></script>
			<script src="./static/assets/js/util.js"></script>
			<script src="./static/assets/js/main.js"></script>

	</body>
</html>